body{
    background-color: #BA4949;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0; 
}

li {
    margin-right: 10px; 
}

.pomodoroBox {
    background-color: #C15C5C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 500px;
    margin: 10% auto 0; 
    border-radius: 12px;
}


.countdown{
    font-family: 'Valera Round', sans-serif;
    font-size: 120px;
    color: white;
    font-weight: 1000;
    letter-spacing: 4px;
}

.start,.reset{
    width: 140px;
    height: 50px;
    color: #C15C5C; 
    font-family: 'Valera Round', sans-serif;
    font-weight: 1000;
    margin-right: 10px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;

}

.addMinute,.addSecond{
    width: 150px;
    height: 40px;
    border: 0px;
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttomButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsButton{
    background-color: #C15C5C;
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
}

.settings-window {
    position: fixed;
    top: 50%; 
    left: 50%;
    width: 300px;
    height: 800px; 
    color: black;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999; 
    border-radius: 8px;
  }
  
  .closeSettings{
    border: 0px;
    position: fixed;
    right: 10px
}

.topButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add this CSS to your stylesheet or component */
.button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 0 5px;
    color: #ffffff;
    font-size: 16px;
  }
  
  .selected {
    background-color: #ffffff; /* Change this to your desired color */
    color: #000000; /* Change this to your desired text color */
  }
  